<%= f.hidden_field :menu_item_id unless @menu_item.new_record? %>

<div class="field resource-type-select" data-url="<%= update_link_resources_menu_items_path %>">
  <%= f.label :resource_type %>
  <%= f.select :resource_type, NavigationLinks.to_a, prompt: 'Please select' %>
</div>

<% if @menu_item.link.resource_type.present? %>
  <div class="field">
    <%= f.label :resource_id %>
    <%= f.select :resource_id, options_for_select(@link_resources, selected: @selected), {}, { prompt: 'Please select', class: 'searchable-select' } %>
  </div>
<% else %>
  <div class="field">
    <%= f.label :resource_id %>
    <%= f.select :resource_id, [''], {}, class: 'searchable-select' %>
  </div>
<% end %>
