<ul>
  <% menu_item_tree.each do |menu_item, menu_item_children| %>
    <li class="menu-item" id="item_<%= menu_item.id %>">
      <span class="drag-helper"></span>

      <%= link_to menu_item.name, edit_menu_item_path(menu_item) %>

      <%= link_to edit_menu_item_path(menu_item), class: 'edit-menu-item' do %>
        <%= octicon('pencil') %>
      <% end %>

      <% unless menu_item_children.size.zero? %>
        <ul>
          <%= render partial: "menu_item_tree", locals: { menu_item_tree: menu_item_children } %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>
