<p id="notice"><%= notice %></p>

<h1>Listing Example Modules</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @example_modules.each do |example_module| %>
      <tr>
        <td><%= example_module.title %></td>
        <td><%= example_module.text %></td>
        <td><%= link_to 'Show', example_module %></td>
        <td><%= link_to 'Edit', edit_example_module_path(example_module) %></td>
        <td><%= link_to 'Destroy', example_module, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Example module', new_example_module_path %>
