<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @example_module.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @example_module.text %>
</p>

<%= link_to 'Edit', edit_example_module_path(@example_module) %> |
<%= link_to 'Back', example_modules_path %>
