<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "flash-message #{name}" %>
<% end %>

<%= form_for @external_link, remote: true do |f| %>
  <% if @external_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@external_link.errors.count, "error") %> prohibited this external_link from being saved:</h2>

      <ul>
      <% @external_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_set_tag 'Website address' do %>
    <div class="field">
      <%= f.label :name, "Full URL" %><br>
      <%= f.text_field :name, placeholder: 'e.g. http://www.google.co.uk' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
